# Class 14: More on Databases

1. Say hello in Zoom
1. Download data from earlier this week if you don't have it already.
1. log onto Prismia

[solutions posted, privately](https://github.com/rhodyprog4ds/solutions)

In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('data/SQL_SAFI.sqlite')

In [3]:
cur = con.cursor()

Next we can run a query

In [4]:
cur.execute('SELECT * FROM Farms')

To see the description of the cursor, we have to run the query first, so we can see this now

In [5]:
colnames = []
for desc in cur.description:
    colnames.append(desc)

In [6]:
colnames

[('Id', None, None, None, None, None, None),
 ('Country', None, None, None, None, None, None),
 ('A01_interview_date', None, None, None, None, None, None),
 ('A03_quest_no', None, None, None, None, None, None),
 ('A04_start', None, None, None, None, None, None),
 ('A05_end', None, None, None, None, None, None),
 ('A06_province', None, None, None, None, None, None),
 ('A07_district', None, None, None, None, None, None),
 ('A08_ward', None, None, None, None, None, None),
 ('A09_village', None, None, None, None, None, None),
 ('A11_years_farm', None, None, None, None, None, None),
 ('A12_agr_assoc', None, None, None, None, None, None),
 ('B_no_membrs', None, None, None, None, None, None),
 ('_members_count', None, None, None, None, None, None),
 ('B11_remittance_money', None, None, None, None, None, None),
 ('B16_years_liv', None, None, None, None, None, None),
 ('B17_parents_liv', None, None, None, None, None, None),
 ('B18_sp_parents_liv', None, None, None, None, None, None),
 ('B19_grand_liv', None, None, None, None, None, None),
 ('B20_sp_grand_liv', None, None, None, None, None, None),
 ('C01_respondent_roof_type', None, None, None, None, None, None),
 ('C02_respondent_wall_type', None, None, None, None, None, None),
 ('C03_respondent_floor_type', None, None, None, None, None, None),
 ('C04_window_type', None, None, None, None, None, None),
 ('C05_buildings_in_compound', None, None, None, None, None, None),
 ('C06_rooms', None, None, None, None, None, None),
 ('C07_other_buildings', None, None, None, None, None, None),
 ('D_no_plots', None, None, None, None, None, None),
 ('D_plots_count', None, None, None, None, None, None),
 ('E01_water_use', None, None, None, None, None, None),
 ('E_no_group_count', None, None, None, None, None, None),
 ('E_yes_group_count', None, None, None, None, None, None),
 ('E17_no_enough_water', None, None, None, None, None, None),
 ('E18_months_no_water', None, None, None, None, None, None),
 ('E19_period_use', None, None, None, None, None, None),
 ('E20_exper_other', None, None, None, None, None, None),
 ('E21_other_meth', None, None, None, None, None, None),
 ('E22_res_change', None, None, None, None, None, None),
 ('E23_memb_assoc', None, None, None, None, None, None),
 ('E24_resp_assoc', None, None, None, None, None, None),
 ('E25_fees_water', None, None, None, None, None, None),
 ('E26_affect_conflicts', None, None, None, None, None, None),
 ('F04_need_money', None, None, None, None, None, None),
 ('F05_money_source', None, None, None, None, None, None),
 ('F05_money_source_other', None, None, None, None, None, None),
 ('F08_emply_lab', None, None, None, None, None, None),
 ('F09_du_labour', None, None, None, None, None, None),
 ('F10_liv_owned', None, None, None, None, None, None),
 ('F10_liv_owned_other', None, None, None, None, None, None),
 ('F_liv_count', None, None, None, None, None, None),
 ('F12_poultry', None, None, None, None, None, None),
 ('F13_du_look_aftr_cows', None, None, None, None, None, None),
 ('F14_items_owned', None, None, None, None, None, None),
 ('G01_no_meals', None, None, None, None, None, None),
 ('G02_months_lack_food', None, None, None, None, None, None),
 ('G03_no_food_mitigation', None, None, None, None, None, None),
 ('gps:Latitude', None, None, None, None, None, None),
 ('gps:Longitude', None, None, None, None, None, None),
 ('gps:Altitude', None, None, None, None, None, None),
 ('gps:Accuracy', None, None, None, None, None, None),
 ('instanceID', None, None, None, None, None, None)]

In [7]:
colnames = []
for desc in cur.description:
    colnames.append(desc[0])

In [8]:
data = cur.fetchall()

In [9]:
data[:2]

[(1,
  'Moz',
  '17/11/2016',
  1,
  '2017-03-23T09:49:57.000Z',
  '2017-04-02T17:29:08.000Z',
  'Manica',
  'Manica',
  'Bandula',
  'God',
  11,
  'no',
  3,
  3,
  'no',
  4,
  'no',
  'yes',
  'no',
  'yes',
  'grass',
  'muddaub',
  'earth',
  'no',
  1,
  1,
  'no',
  2,
  2,
  'no',
  2.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'no',
  'no',
  "['poultry']",
  None,
  1,
  'yes',
  'no',
  "['bicycle', 'television', 'solar_panel', 'table']",
  2,
  "['Jan']",
  "['na', 'rely_less_food', 'reduce_meals', 'day_night_hungry']",
  -19.11225943,
  33.48345609,
  698.0,
  14.0,
  'uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef'),
 (2,
  'Moz',
  '17/11/2016',
  1,
  '2017-04-02T09:48:16.000Z',
  '2017-04-02T17:26:19.000Z',
  'Manica',
  'Manica',
  'Bandula',
  'God',
  2,
  'yes',
  7,
  7,
  'no',
  9,
  'yes',
  'yes',
  'yes',
  'yes',
  'grass',
  'muddaub',
  'earth',
  'no',
  1,
  1,
  'no',
  3,
  3,
  'yes',
  None,
  3.0,
  'yes',
  "['Aug', 'Sept']",
  2.0,
  'yes',
  'no',
  None,
  'yes',
  'no',
  'no',
  'once',
  'no',
  None,
  None,
  'yes',
  'no',
  "['oxen', 'cows', 'goats']",
  None,
  3,
  'yes',
  'no',
  "['cow_cart', 'bicycle', 'radio', 'cow_plough', 'solar_panel', 'solar_torch', 'table', 'mobile_phone']",
  2,
  "['Jan', 'Sept', 'Oct', 'Nov', 'Dec']",
  "['na', 'reduce_meals', 'restrict_adults', 'borrow_food', 'seek_government']",
  -19.11247712,
  33.48341568,
  690.0,
  19.0,
  'uuid:099de9c9-3e5e-427b-8452-26250e840d6e')]

In [10]:
pd.DataFrame(data =data, columns = colnames)

,Id,Country,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,...,F13_du_look_aftr_cows,F14_items_owned,G01_no_meals,G02_months_lack_food,G03_no_food_mitigation,gps:Latitude,gps:Longitude,gps:Altitude,gps:Accuracy,instanceID
0,1,Moz,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'television', 'solar_panel', 'table']",2,['Jan'],"['na', 'rely_less_food', 'reduce_meals', 'day_...",-19.112259,33.483456,698.0,14.0,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,2,Moz,17/11/2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'bicycle', 'radio', 'cow_plough',...",2,"['Jan', 'Sept', 'Oct', 'Nov', 'Dec']","['na', 'reduce_meals', 'restrict_adults', 'bor...",-19.112477,33.483416,690.0,19.0,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,Moz,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Manica,Manica,Bandula,God,...,no,['solar_torch'],2,"['Jan', 'Feb', 'Mar', 'Oct', 'Nov', 'Dec']","['na', 'restrict_adults', 'lab_ex_food']",-19.112108,33.483450,674.0,13.0,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,Moz,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",2,"['Sept', 'Oct', 'Nov', 'Dec']","['na', 'reduce_meals', 'restrict_adults', 'lab...",-19.112229,33.483424,679.0,5.0,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,Moz,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Manica,Manica,Bandula,God,...,no,"['motorcyle', 'radio', 'cow_plough', 'mobile_p...",2,"['Aug', 'Sept', 'Oct', 'Nov']","['na', 'go_forest', 'migrate']",-19.112217,33.483425,689.0,10.0,uuid:2c867811-9696-4966-9866-f35c3e97d02d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,346,Moz,22/08/2017,207,2017-08-22T10:35:17.000Z,2017-08-22T10:41:35.000Z,Sofala,Nhamatanda,Lamego,Ndedja,...,no,['radio'],3,"['Jan', 'Feb', 'Mar', 'Dec']","['rely_less_food', 'limit_variety', 'borrow_fo...",-19.110984,33.475643,722.0,117.0,uuid:abdba24f-7bca-4d79-8a01-273547da52f5
346,347,Moz,22/08/2017,209,2017-08-22T10:42:15.000Z,2017-08-23T06:21:54.000Z,Sofala,Nhamatanda,Lamego,Ndedja,...,no,None,3,"['Jan', 'Feb', 'Mar', 'Dec']","['rely_less_food', 'reduce_meals', 'borrow_foo...",-19.111314,33.476522,0.0,82.5,uuid:ef587b92-5dc4-47b3-b631-a3b191649066
347,348,Moz,22/08/2017,205,2017-08-23T05:08:13.000Z,2017-08-23T05:27:06.000Z,Sofala,Nhamatanda,Lamego,Ndedja,...,no,"['bicycle', 'radio', 'solar_torch', 'mobile_ph...",3,['none'],"['rely_less_food', 'limit_variety', 'reduce_me...",-19.111314,33.476522,0.0,72.9,uuid:2eb827ea-c94d-4a55-bd64-59bc67459c17
348,349,Moz,22/08/2017,206,2017-08-23T05:39:40.000Z,2017-08-23T05:53:54.000Z,Sofala,Nhamatanda,Lamego,Ndedja,...,no,['radio'],3,"['Jan', 'Feb', 'Mar', 'Dec']","['rely_less_food', 'limit_variety', 'reduce_me...",-19.111402,33.475848,0.0,45.6,uuid:d8dc7800-eb7d-4b8f-84be-4dcddeb55b18
349,350,Moz,22/08/2017,208,2017-08-23T05:53:59.000Z,2017-08-23T06:04:39.000Z,Sofala,Nhamatanda,Lamego,Ndedja,...,no,"['bicycle', 'solar_panel', 'mobile_phone']",3,"['Jan', 'Feb', 'Mar', 'Dec']","['rely_less_food', 'limit_variety', 'reduce_me...",-19.111929,33.476781,696.0,72.0,uuid:02cde43c-adcf-4b1d-8ef7-bd665ccab756

In [11]:
con.close()

In [12]:
with sqlite3.connect('data/SQL_SAFI.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT * FROM farms')
    row = cur.fetchone()

In [13]:
row

(1,
 'Moz',
 '17/11/2016',
 1,
 '2017-03-23T09:49:57.000Z',
 '2017-04-02T17:29:08.000Z',
 'Manica',
 'Manica',
 'Bandula',
 'God',
 11,
 'no',
 3,
 3,
 'no',
 4,
 'no',
 'yes',
 'no',
 'yes',
 'grass',
 'muddaub',
 'earth',
 'no',
 1,
 1,
 'no',
 2,
 2,
 'no',
 2.0,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'no',
 'no',
 "['poultry']",
 None,
 1,
 'yes',
 'no',
 "['bicycle', 'television', 'solar_panel', 'table']",
 2,
 "['Jan']",
 "['na', 'rely_less_food', 'reduce_meals', 'day_night_hungry']",
 -19.11225943,
 33.48345609,
 698.0,
 14.0,
 'uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef')

In [14]:
con

In [15]:
con = sqlite3.connect('data/SQL_SAFI.sqlite')

`A09_village` we want only the data from God

In [16]:
df = pd.read_sql_query('SELECT * FROM farms WHERE A09_village = "God"',con)

In [17]:
df

,Id,Country,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,...,F13_du_look_aftr_cows,F14_items_owned,G01_no_meals,G02_months_lack_food,G03_no_food_mitigation,gps:Latitude,gps:Longitude,gps:Altitude,gps:Accuracy,instanceID
0,1,Moz,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'television', 'solar_panel', 'table']",2,['Jan'],"['na', 'rely_less_food', 'reduce_meals', 'day_...",-19.112259,33.483456,698.0,14.000,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,2,Moz,17/11/2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'bicycle', 'radio', 'cow_plough',...",2,"['Jan', 'Sept', 'Oct', 'Nov', 'Dec']","['na', 'reduce_meals', 'restrict_adults', 'bor...",-19.112477,33.483416,690.0,19.000,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,3,Moz,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Manica,Manica,Bandula,God,...,no,['solar_torch'],2,"['Jan', 'Feb', 'Mar', 'Oct', 'Nov', 'Dec']","['na', 'restrict_adults', 'lab_ex_food']",-19.112108,33.483450,674.0,13.000,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,4,Moz,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",2,"['Sept', 'Oct', 'Nov', 'Dec']","['na', 'reduce_meals', 'restrict_adults', 'lab...",-19.112229,33.483424,679.0,5.000,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,5,Moz,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Manica,Manica,Bandula,God,...,no,"['motorcyle', 'radio', 'cow_plough', 'mobile_p...",2,"['Aug', 'Sept', 'Oct', 'Nov']","['na', 'go_forest', 'migrate']",-19.112217,33.483425,689.0,10.000,uuid:2c867811-9696-4966-9866-f35c3e97d02d
5,6,Moz,17/11/2016,6,2017-04-02T15:27:25.000Z,2017-04-02T17:28:02.000Z,Manica,Manica,Bandula,God,...,no,None,2,"['Aug', 'Sept', 'Oct']","['borrow_food', 'lab_ex_food', 'seek_government']",-19.112196,33.483392,692.0,12.000,uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70
6,7,Moz,17/11/2016,7,2017-04-02T15:38:01.000Z,2017-04-02T17:28:19.000Z,Manica,Manica,Bandula,God,...,no,"['motorcyle', 'cow_plough']",3,['Nov'],['lab_ex_food'],-19.112219,33.483365,709.0,11.000,uuid:ae20a58d-56f4-43d7-bafa-e7963d850844
7,11,Moz,21/11/2016,11,2017-04-03T03:16:15.000Z,2017-04-03T03:31:10.000Z,Manica,Manica,Bandula,God,...,no,"['radio', 'cow_plough']",2,"['Oct', 'Nov']","['rely_less_food', 'lab_ex_food']",-19.112191,33.483459,707.0,10.000,uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483
8,12,Moz,21/11/2016,12,2017-04-03T03:31:13.000Z,2017-04-03T03:58:34.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'bicycle', 'radio', 'cow_plough',...",3,"['Sept', 'Oct']","['rely_less_food', 'limit_variety', 'reduce_me...",-19.112295,33.483415,696.0,13.000,uuid:e6ee6269-b467-4e37-91fc-5e9eaf934557
9,13,Moz,21/11/2016,13,2017-04-03T03:58:43.000Z,2017-04-03T04:19:36.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'mobile_pho...",2,"['Sept', 'Oct', 'Nov']",['lab_ex_food'],-19.112369,33.483556,706.0,15.000,uuid:6c00c145-ee3b-409c-8c02-2c8d743b6918
10,14,Moz,21/11/2016,14,2017-04-03T04:19:57.000Z,2017-04-03T04:50:05.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",3,"['June', 'July', 'Aug', 'Sept', 'Oct', 'Nov']","['reduce_meals', 'lab_ex_food']",-19.112221,33.483439,698.0,11.000,uuid:9b21467f-1116-4340-a3b1-1ab64f13c87d
11,15,Moz,21/11/2016,15,2017-04-03T05:12:17.000Z,2017-04-03T05:28:44.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",2,"['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'J...","['na', 'rely_less_food', 'limit_portion', 'red...",-19.112079,33.483397,715.0,9.000,uuid:a837e545-ff86-4a1c-a1a5-6186804b985f
12,16,Moz,24/11/2016,16,2017-04-03T05:29:24.000Z,2017-04-03T05:40:53.000Z,Manica,Manica,Bandula,God,...,no,"['radio', 'cow_plough', 'solar_panel', 'solar_...",3,"['Jan', 'Feb']",['lab_ex_food'],-19.112107,33.483444,709.0,9.000,uuid:d17db52f-4b87-4768-b534-ea8f9704c565
13,17,Moz,21/11/2016,17,2017-04-03T05:41:42.000Z,2017-04-03T05:57:57.000Z,Manica,Manica,Bandula,God,...,yes,['mobile_phone'],2,"['Nov', 'Dec']",['lab_ex_food'],-19.112183,33.483463,710.0,10.000,uuid:4707f3dc-df18-4348-9c2c-eec651e89b6b
14,18,Moz,21/11/2016,18,2017-04-03T12:27:04.000Z,2017-04-03T12:39:48.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'mobile_phone']",2,"['Oct', 'Nov']","['reduce_meals', 'lab_ex_food']",-19.111335,33.476308,685.0,17.000,uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3
15,19,Moz,21/11/2016,19,2017-04-03T12:40:14.000Z,2017-04-03T12:53:29.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",3,"['Oct', 'Nov', 'Dec']","['rely_less_food', 'limit_portion', 'lab_ex_fo...",-19.111426,33.476408,716.0,30.000,uuid:e32f2dc0-0d05-42fb-8e21-605757ddf07d
16,20,Moz,21/11/2016,20,2017-04-03T14:04:50.000Z,2017-04-03T14:20:04.000Z,Manica,Manica,Bandula,God,...,yes,"['bicycle', 'cow_plough', 'solar_torch']",2,"['Oct', 'Nov']","['rely_less_food', 'lab_ex_food']",-19.111473,33.476192,700.0,27.000,uuid:d1005274-bf52-4e79-8380-3350dd7c2bac
17,21,Moz,21/11/2016,21,2017-04-03T14:24:58.000Z,2017-04-03T14:44:39.000Z,Manica,Manica,Bandula,God,...,no,None,2,"['Jan', 'Feb', 'Mar', 'Oct', 'Nov', 'Dec']","['rely_less_food', 'restrict_adults', 'day_nig...",-19.111550,33.476231,707.0,20.000,uuid:6570a7d0-6a0b-452c-aa2e-922500e35749
18,22,Moz,21/11/2016,22,2017-04-03T16:28:52.000Z,2017-04-03T16:40:47.000Z,Manica,Manica,Bandula,God,...,no,['radio'],2,"['Jan', 'Feb', 'Mar', 'Apr', 'Aug', 'Sept', 'O...","['rely_less_food', 'reduce_meals', 'go_forest'...",-19.112127,33.483508,722.0,9.000,uuid:a51c3006-8847-46ff-9d4e-d29919b8ecf9
19,38,Moz,17/11/2016,38,2017-04-05T17:28:12.000Z,2017-04-05T17:50:57.000Z,Manica,Manica,Bandula,God,...,yes,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",3,['Nov'],"['limit_variety', 'lab_ex_food']",-19.112229,33.483375,696.0,9.000,uuid:81309594-ff58-4dc1-83a7-72af5952ee08
20,39,Moz,17/11/2016,39,2017-04-06T08:31:17.000Z,2017-04-06T08:44:47.000Z,Manica,Manica,Bandula,God,...,no,None,3,['Nov'],['lab_ex_food'],-19.043362,33.404667,0.0,20.000,uuid:c0fb6310-55af-4831-ae3d-2729556c3285
21,40,Moz,17/11/2016,40,2017-04-06T08:44:51.000Z,2017-04-06T09:03:47.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",3,"['Sept', 'Oct', 'Nov']",['lab_ex_food'],-19.043362,33.404667,0.0,22.112,uuid:c0b34854-eede-4e81-b183-ef58a45bfc34
22,41,Moz,17/11/2016,41,2017-04-06T09:03:50.000Z,2017-04-06T09:14:05.000Z,Manica,Manica,Bandula,God,...,no,"['motorcyle', 'bicycle', 'radio', 'cow_plough'...",3,"['Oct', 'Nov']","['limit_portion', 'reduce_meals']",-19.043394,33.404854,679.0,13.000,uuid:b3ba34d8-eea1-453d-bc73-c141bcbbc5e5
23,42,Moz,17/11/2016,42,2017-04-06T09:14:22.000Z,2017-04-06T09:30:54.000Z,Manica,Manica,Bandula,God,...,no,['mobile_phone'],3,"['Jan', 'Nov', 'Dec']","['rely_less_food', 'limit_variety', 'reduce_me...",-19.043460,33.404846,699.0,10.000,uuid:e3a1dd8a-1bda-428c-a014-2b527f11ae64
24,76,Moz,24/11/2016,155,2017-04-09T06:35:16.000Z,2017-04-09T06:48:01.000Z,Manica,Manica,Bandula,God,...,no,['electricity'],2,"['Jan', 'Sept', 'Oct', 'Nov', 'Dec']","['limit_variety', 'reduce_meals', 'borrow_food...",-19.112207,33.483424,713.0,13.000,uuid:77b3021b-a9d6-4276-aaeb-5bfcfd413852
25,78,Moz,25/11/2016,177,2017-04-09T07:59:49.000Z,2017-04-09T08:22:34.000Z,Manica,Manica,Bandula,God,...,no,"['motorcyle', 'television', 'cow_plough', 'sol...",3,['Nov'],['na'],-19.112054,33.483495,713.0,9.000,uuid:87998c33-c8d2-49ec-9dae-c123735957ec
26,80,Moz,25/11/2016,181,2017-04-09T08:43:08.000Z,2017-04-09T09:07:48.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'motorcyle', 'bicycle', 'televisi...",3,['none'],['na'],-19.112075,33.483511,701.0,5.000,uuid:bf373763-dca5-4906-901b-d1bacb4f0286
27,81,Moz,25/11/2016,182,2017-04-09T09:08:04.000Z,2017-04-09T09:34:12.000Z,Manica,Manica,Bandula,God,...,no,['solar_panel'],3,"['Jan', 'Feb', 'Nov', 'Dec']",['na'],-19.112042,33.483454,694.0,4.000,uuid:394033e8-a6e2-4e39-bfac-458753a1ed78
28,82,Moz,28/11/2016,186,2017-04-09T15:20:26.000Z,2017-04-09T15:46:14.000Z,Manica,Manica,Manica,God,...,no,"['cow_plough', 'mobile_phone']",3,['none'],['na'],-19.112320,33.483463,690.0,10.000,uuid:268bfd97-991c-473f-bd51-bc80676c65c6
29,83,Moz,28/11/2016,187,2017-04-09T15:48:14.000Z,2017-04-09T16:12:46.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'motorcyle', 'bicycle', 'televisi...",3,['none'],['na'],-19.112234,33.483492,691.0,13.000,uuid:0a42c9ee-a840-4dda-8123-15c1bede5dfc
30,84,Moz,28/11/2016,195,2017-04-09T16:13:19.000Z,2017-04-09T16:35:24.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'bicycle', 'radio', 'cow_plough',...",2,"['Sept', 'Oct', 'Nov']",['lab_ex_food'],-19.112206,33.483421,706.0,9.000,uuid:2c132929-9c8f-450a-81ff-367360ce2c19
31,85,Moz,28/11/2016,196,2017-04-09T18:00:41.000Z,2017-04-09T18:31:40.000Z,Manica,Manica,Bandula,God,...,no,"['radio', 'cow_plough', 'mobile_phone']",3,['none'],['na'],-19.112204,33.483400,694.0,10.000,uuid:44e427d1-a448-4bf2-b529-7d67b2266c06
32,86,Moz,28/11/2016,197,2017-04-09T18:32:09.000Z,2017-04-09T19:14:52.000Z,Manica,Manica,Bandula,God,...,yes,"['bicycle', 'television', 'radio', 'cow_plough...",2,['Nov'],"['rely_less_food', 'limit_variety', 'reduce_me...",-19.112187,33.483383,714.0,11.000,uuid:85c99fd2-775f-40c9-8654-68223f59d091
33,87,Moz,28/11/2016,198,2017-04-09T19:15:21.000Z,2017-04-09T19:27:56.000Z,Manica,Manica,Bandula,God,...,no,None,3,['Nov'],"['reduce_meals', 'lab_ex_food']",-19.112123,33.483388,716.0,7.000,uuid:28c64954-739c-444c-a6e0-355878e471c8
34,88,Moz,21/11/2016,201,2017-04-09T19:31:47.000Z,2017-04-09T19:45:38.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'solar_torch', 'mobile_ph...",2,"['Oct', 'Nov', 'Dec']","['borrow_food', 'lab_ex_food']",-19.112172,33.483385,685.0,10.000,uuid:9e79a31c-3ea5-44f0-80f9-a32db49422e3
35,89,Moz,17/11/2016,202,2017-04-09T19:48:09.000Z,2017-04-09T20:08:15.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'radio', 'cow_plough', 'solar_pan...",3,"['Jan', 'Feb', 'Mar', 'Oct', 'Nov', 'Dec']","['rely_less_food', 'limit_variety', 'reduce_me...",-19.112189,33.483405,705.0,5.000,uuid:06d39051-38ef-4757-b68b-3327b1f16b9d
36,95,Moz,27/04/2017,89,2017-04-27T16:11:23.000Z,2017-04-27T16:41:41.000Z,Manica,Manica,Bandula,God,...,no,"['bicycle', 'radio', 'cow_plough', 'solar_pane...",3,"['Oct', 'Nov']","['rely_less_food', 'limit_variety', 'go_forest...",-19.112317,33.483483,710.0,13.000,uuid:b3b309c6-f234-4830-8b30-87d26a17ee1d
37,96,Moz,27/04/2017,101,2017-04-27T16:42:02.000Z,2017-04-27T18:11:54.000Z,Manica,Manica,Bandula,God,...,yes,"['bicycle', 'solar_torch']",3,"['Sept', 'Oct', 'Nov']","['rely_less_food', 'limit_variety', 'reduce_me...",-19.112235,33.483418,702.0,11.000,uuid:3c174acd-e431-4523-9ad6-eb14cddca805
38,103,Moz,30/04/2017,106,2017-04-30T05:51:18.000Z,2017-04-30T06:47:01.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'motorcyle', 'bicycle', 'radio', ...",3,"['Oct', 'Nov', 'Dec']","['lab_ex_food', 'seek_government']",-19.112210,33.483409,709.0,5.000,uuid:468797c1-4a65-4f35-9c83-e28ce46972a2
39,104,Moz,03/05/2017,109,2017-05-03T13:14:43.000Z,2017-05-03T13:37:53.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'bicycle', 'radio', 'cow_plough',...",3,"['July', 'Aug', 'Sept', 'Oct', 'Nov']","['rely_less_food', 'limit_portion', 'reduce_me...",-19.112224,33.483380,699.0,10.000,uuid:602cd3f6-4a97-49c6-80e3-bcfd5c78dfa4
40,111,Moz,11/05/2017,108,2017-05-11T05:42:08.000Z,2017-05-11T06:08:58.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'bicycle', 'radio', 'cow_plough',...",3,"['Aug', 'Sept', 'Oct', 'Nov']","['rely_less_food', 'limit_portion', 'reduce_me...",-19.111469,33.476105,0.0,20.000,uuid:e4f4d6ba-e698-45a5-947f-ba6da88cc22b
41,117,Moz,18/05/2017,159,2017-05-18T10:56:16.000Z,2017-05-18T11:07:35.000Z,Manica,Manica,Bandula,God,...,no,"['radio', 'solar_panel', 'solar_torch']",3,"['Sept', 'Oct', 'Nov']",['lab_ex_food'],-19.111495,33.476175,712.0,28.000,uuid:37577f91-d665-443e-8d70-b914954cef4b
42,118,Moz,03/06/2017,160,2017-06-03T05:08:49.000Z,2017-06-03T05:32:19.000Z,Manica,Manica,Bandula,God,...,no,"['cow_cart', 'cow_plough', 'solar_torch', 'mob...",2,['Nov'],['lab_ex_food'],-19.112185,33.483449,711.0,12.000,uuid:f22831ec-6bc3-4b73-9197-4b01e01abb66

In [18]:
pd.unique(df['A09_village'])

array(['God'], dtype=object)

In [19]:
pd.read_sql('.tables', con)

DatabaseError: Execution failed on sql '.tables': near ".": syntax error

In [20]:
import numpy as np
np.nan

nan